<style>
.footer{
  position: relative;
  width: 100%;
  height: 43vh;
  display: block;
  background-color:#656667;
  margin-top: 29vh;
  color:white;
}
.footer-contact{
  position: relative;
  width: 100%;
  height: 43vh;
  display: flex;
  color:white;
  margin-top: 29vh;
}
#footer-contactUs {
  position: relative;
  top: 4vh;
  height: 30px;
  left: 7%;
}
#footer-contactUs2 {
  position: relative;
  top: 15vh;
  height: 30px;
  left: -9%;
}
.pFooter {
  color:white !important;
}
.address-footer {
    height: 54px;
    position: relative;
    top: 3vh;
    left: 22%;
}

.address-footer2 {
  height: 54px;
  position: relative;
  top: 15vh;
  left: -6%;
}
.mapLink {
  color: #000;
  text-decoration: none;
  height: 11vh;
  width: 18%;
  position: relative;
  display: inline-flex;
  left: 8%;
  top: 2vh;
}
.mapLink:hover{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.footerLinks {
  position: relative;
  display: block;
  top: -41vh;
  width: 17%;
  height: 27vh;
  left: 36%;
}
.mapLinkNavs{
  color:white;
  display:block;
  margin-top:2vh;
}

</style>

<div class="footer">
  <div class="footer-contact">
  <a class="mapLink" href="https://www.google.com/maps/place/1940+Brevard+Rd,+Arden,+NC+28704/@35.4628604,-82.5785697,17z/data=!3m1!4b1!4m5!3m4!1s0x885993242500641b:0x5979d7f4d4f4ccd6!8m2!3d35.4628604!4d-82.5763757">
    <img id="footer-contactUs" src="https://cdn.shopify.com/s/files/1/0067/8549/9194/files/whiteLoc.png?9149469078780518832" alt="contact">
    <div class="address-footer">
      <p class="pFooter">1940 Brevard Road</p><br>
      <p class="pFooter">Arden, NC 28704</p>
    </div>
  </a>
    <img id="footer-contactUs2" src="https://cdn.shopify.com/s/files/1/0067/8549/9194/files/whitePhone.png?9149469078780518832" alt="contact">
    <div class="address-footer2">
      <p class="pFooter">(919) 909-4346</p>
    </div>
  </div>

  <div class="footerLinks">
    <a class="mapLinkNavs" href="">Earthmoving Equipment</a>
    <a class="mapLinkNavs" href="">Landscaping Equipment</a>
    <a class="mapLinkNavs" href="">Concrete and Masonry</a>
    <a class="mapLinkNavs" href="">Construction Site and  Services</a>
    <a class="mapLinkNavs" href="">Construction Tools</a>
  </div>
</div>





<div>