<style>
.footer{
  position: relative;
  width: 100%;
  height: 53vh;
  display: block;
  background-color:#656667;
  margin-top: 29vh;
  color:white;
}
.footer-contact{
  position: relative;
  width: 100%;
  height: 44vh;
  display: flex;
  color:white;
  margin-top: 29vh;
}
#footer-contactUs {
  position: relative;
  top: 4vh;
  height: 30px;
  left: 7%;
}
#footer-contactUs2 {
  position: relative;
  top: 15vh;
  height: 30px;
  left: -9%;
}
.pFooter {
  color:white !important;
}
.address-footer {
    height: 54px;
    position: relative;
    top: 3vh;
    left: 22%;
}

.address-footer2 {
  height: 54px;
  position: relative;
  top: 15vh;
  left: -6%;
}
.mapLink {
  color: #000;
  text-decoration: none;
  height: 11vh;
  width: 18%;
  position: relative;
  display: inline-flex;
  left: 8%;
  top: 2vh;
}
.mapLink:hover{
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
.footerLinks {
  position: relative;
  display: block;
  top: -41vh;
  width: 17%;
  height: 27vh;
  left: 36%;
}

.footerLinks2 {
  position: relative;
  display: block;
  top: -70vh;
  width: 7%;
  height: 26vh;
  left: 58%;
}
.mapLinkNavs{
  color:white;
  display:block;
  margin-top:2vh;
}

.subscribe {
  position: relative;
  display: block;
  top: -41vh;
  width: 100%;
  height: 6vh;
  left: 72%;
}
#subscribeInput {
  width: 11%;
  display: block;
  height: 43px;
}
#subscribeBtn {
  position: relative;
  display: block;
  top: -42px;
  width: 9%;
  height: 42px;
  left: 11%;
}
#percentOff{
  position: relative;
  display: block;
  top: 1vh;
  width: 20%;
  height: 6vh;
  left: 0%;
  color: white;
}
#copyRight{
  position: relative;
  display: block;
  top: -15vh;
  left: 36%;
  color: white;
  font-size: 12px;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 667px) {

.footer {
    position: relative;
    width: 100%;
    height: 134vh;
    display: block;
    background-color: #656667;
    margin-top: 29vh;
    color: white;
  }
  .footerLinks {
    position: relative;
    display: block;
    top: -16vh;
    width: 100%;
    height: 27vh;
    left: 18%;
  }

  .footerLinks2 {
    position: relative;
    display: block;
    top: -4vh;
    width: 27%;
    height: 26vh;
    left: 18%;
  }
  .pFooter {
    color: white !important;
    display: block;
    width: 269%;
    margin-top: -26px;
    position: relative;
    top: 5vh;
  }
  .related-prod {
    position: relative;
    display: block;
    top: -5em;
    left: 0%;
  }
  #percentOff {
    position: relative;
    display: block;
    top: -3vh;
    width: 67%;
    height: 6vh;
    left: 2%;
    color: white;
  }
  .subscribe {
    position: relative;
    display: block;
    top: -28vh;
    width: 100%;
    height: 6vh;
    left: 5%;
  }
  #subscribeBtn {
    position: relative;
    display: block;
    top: -40px;
    width: 9%;
    height: 40px;
    left: 11%;
  }
  #subscribeInput {
    width: 29%;
    position: relative;
    display: block;
    font-size: 12px;
  }
  #copyRight {
    position: relative;
    display: block;
    top: -15vh;
    left: 17%;
    color: white;
    font-size: 12px;
  }
  #easy123 {
    position: relative;
    display: inline-block;
    left: 19%;
    font-style: italic;
  }
  .circledSteps {
    position: relative;
    display: block;
    height: 12vh;
    width: 58%;
    left: 9%;
    text-align: center;
  }
}



</style>

<div class="footer">
  <div class="footer-contact">
  <a class="mapLink" href="https://www.google.com/maps/place/1940+Brevard+Rd,+Arden,+NC+28704/@35.4628604,-82.5785697,17z/data=!3m1!4b1!4m5!3m4!1s0x885993242500641b:0x5979d7f4d4f4ccd6!8m2!3d35.4628604!4d-82.5763757">
    <img id="footer-contactUs" src="https://cdn.shopify.com/s/files/1/0067/8549/9194/files/whiteLoc.png?9149469078780518832" alt="contact">
    <div class="address-footer">
      <p class="pFooter">1940 Brevard Road</p><br>
      <p class="pFooter">Arden, NC 28704</p>
    </div>
  </a>
    <img id="footer-contactUs2" src="https://cdn.shopify.com/s/files/1/0067/8549/9194/files/whitePhone.png?9149469078780518832" alt="contact">
    <div class="address-footer2">
      <p class="pFooter">(919) 909-4346</p>
    </div>
  </div>

  <div class="footerLinks">
    <a class="mapLinkNavs" href="https://neighborlysequipment.com/collections/earthmoving-equipment">Earthmoving Equipment</a>
    <a class="mapLinkNavs" href="https://neighborlysequipment.com/collections/landscaping-equipment">Landscaping Equipment</a>
    <a class="mapLinkNavs" href="https://neighborlysequipment.com/collections/concrete-masonry">Concrete and Masonry</a>
    <a class="mapLinkNavs" href="">Construction Site and  Services</a>
    <a class="mapLinkNavs" href="https://neighborlysequipment.com/collections/construction-tools">Construction Tools</a>
  </div>

   <div class="footerLinks2">
    <a class="mapLinkNavs" href="https://neighborlysequipment.com/">Home</a>
    <a class="mapLinkNavs" href="https://neighborlysequipment.com/collections/all">Equipment</a>
    <a class="mapLinkNavs" href="https://neighborlysequipment.com/pages/contact-us">Contact</a>
    <a class="mapLinkNavs" href="">Terms of Use</a>
  </div>
</div>

  <div class="subscribe">
  <p id="percentOff">Subscribe to get 5% off your rent</p>
    <input id="subscribeInput" type="email" placeholder="email@mail.com" name="subscribe" />
    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="subscribeBtn">Subscribe</button>
  </div>

  <div class="copy-right"> 
    <p id="copyRight">
      &copy; Neighborlys Equipment and Rental LLC
    </p>
  </div>


<div>