
<div id="thankPage">
  <h2>Thank You</h2>
  <h4 id="littleThankYouNote">Someone will be reaching out to you soon to confirm your rental. 
  In the meantime, feel free to browse our store and the great deals we offer.</h4>


</div>

<br>
<br>

<script>
if(true){
   window.setTimeout(function(){
        // Move to a new location or you can do something else
        window.location.href = "https://neighborlysequipment.com/collections/all";
    }, 20000);
}

</script>

