
<div id="thankPage">
  <h2>Thank You</h2>
  <p id="littleThankYouNote">Someone will be reaching out to you soon to confirm your rental. In the meantime, feel free to browse our store and the great deals we offer.</p>
</div>

<br>
{% section 'related-products' %}